
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;1,700&display=swap');


*{
    padding: 0;
    margin: 0;
    font-family: 'Cabin', sans-serif;
}
:root {
    --primary-color: dark green;
    --secondary-color: gold;
}
body{
    background-color: var(--primary-color);
}
html{
    font-size: 75.5%;
}
.header{
    width: 100%;
    height: 500px;
    color: var(--secondary-color);
    box-shadow: 0 5px 10px var(--secondary-color);
    display: flex;
    align-items: center;
    position: relative;
}

.header ::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5), url(../../public/images/book-art1.jpg));
    clip-path: circle(60% at left 300px);
}

.row2{
    position: absolute;
    top: 10px;
    right: 150px;
    text-align: center;
}

.row2{
    font-size: 3rem;
    margin-top: 20px;
    margin-bottom: 15px;
}

.row2 img{
    margin-top: 30px;
    width: 250px;
}
.row1 h1{
    font-size: 3rem;
    text-align: center;
    margin-left: 35px;
    font-family: 'Cabin', sans-serif;
}